<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Search Results</h1>
    <form action="/" method="post">
    <select name="search">
        {% for domain in res %}
            <option value="{{ domain }}">{{ domain }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Search">
    </form>

    

    {% if articles %}
        <h2>Search Results:</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <h3><a href="{{ url_for('article', article_id=article['id']) }}">{{ article['abstract'][:50] }}...</a></h3>
                    <p>Keywords: {% for keyword in article['keywords'].split(";") %}{{ keyword }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
